body {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fafafa;
}

.main {
    position: relative;
}

.profiler {
    margin-top: 20px;
}

.large-text {
    text-size: 18px;
}
.alert {
    margin: 2px;
}

.btn-signup {
    color: #fff;
    background-color: #20b010;
    border-color: #05a41f;
}

.btn-signup:hover {
    color: #fff;
    background-color: #21b711;
    border-color: #05a41f;
}

.navbar-nav .btn-signup {
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar h1, .navbar h2, .navbar h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container .search-result {
    padding: 5px;
}

.quick-add {
    position: relative;
    padding: 0;
}

.quick-add .dropdown-search-result {
    margin: 0;
}

.navbar-form .pager {
    margin: 0;
}

/* Inbox */

.inbox .new-message {
    font-weight: bold;
}


/* Search */

.search-result .card img {
    width: 200px;
    height: 298px;
}

.search-result .card .actions {
    text-align: center;
}